[Desktop Entry]
Encoding=UTF-8
Name=Cryptotest
Comment=Cryptotest P2P Cryptocurrency
Comment[fr]=Cryptotest, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cryptotest, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/cryptotest-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/cryptotest128.png
MimeType=x-scheme-handler/cryptotest;
Categories=Office;
